<h1>Upload Xml</h1>

<div class="container text-center upload">
    <div class="row">
        <div class="col-lg-12">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            <div ng-show="isUploading" class="upload-indicator">
                <i class="fa fa-spinner fa-pulse fa-5x"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input type="file" file-model="myFile" id="LoginID1" style="display:inline" />
            <br />
            <button ng-click="uploadFile()">upload</button>
        </div>
    </div>
</div>
