<h1>Upload Xml</h1>

<div class="container">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    <div class="row">
        <input type="file" file-model="myFile" id="LoginID1" />
        <button ng-click="uploadFile()">upload</button>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        
        var Data = JSON.parse(window.localStorage['USERDATA'] || '{}');
        if (Data != null) {
            $('#Login').hide();
            $('#LogOut').show();
        } else {
            $('#Login').hide();
            $('#LogOut').show();
        };
    
});
</script>