
.angular-ui-tree-handle .btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

    .angular-ui-tree-handle:hover {
        color: #438eb9;
        background: #f4f6f7;
        border-color: #dce2e8;
    }

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


.selected {
    background-color: #eee;
}

div.line {
    transform-origin: 0 100%;
    height: 2px; /* Line width of 3 */
    background: #337ab7; /* Black fill */
}

div.circle {
    background: #337ab7;
}


/* Allows context-menu position be setted relative to the page, being over everithing else */
.context-menu {
    display: block;
    position: absolute;
    z-index: 999;
}

    /* With this the ul isn't rendered with bullets inside the menu */
    .context-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        /* Fallback, because some brousers does not support the list-style property */
        .context-menu ul li {
            text-decoration: none;
        }

            /* A little feedback whe the user hovers or click the option */
            .context-menu ul li:hover, .context-menu ul li:active {
                background: rgba(0,0,0,.1);
            }

            /* Give the a element from the menu a non-link appearance and some padding */
            .context-menu ul li a {
                text-decoration: none;
                color: inherit;
                padding: 5px;
                display: inline-block;
            }

    /* Open/Close handling classes*/

    .context-menu.closed {
        display: none;
    }

    .context-menu.open {
        display: block;
    }

.bottom-margin {
    margin-bottom: 10px;
}

.term-relations .element {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 2px;
    border-radius: 3px;
    font-size: 10px;
    margin: 2px;
    display: inline-block;
    background-color: #f5f5f5;
}

    .term-relations .element b {
        font-size: 12px;
    }

    .term-relations .element b {
        font-size: 12px;
    }


.term-relations .element-container .panel-body {
    text-align: left;
    position: relative;
}

    .term-relations .element-container .panel-body .btn-xs.bottom-right {
        position: absolute;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        bottom: 0;
        right: 0px;
        border-bottom: none;
        border-right: none;
    }

.term-relations .element-container * {
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}


.term-relations .element-container.parents .panel-footer {
    height: 50px;
    overflow-y: hidden;
}

    .term-relations .element-container.parents .panel-footer.writting {
        overflow-y: visible;
    }

    .term-relations .element-container.parents .panel-footer.closed {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
        border: none;
    }

.upload-indicator {
    padding: 30px 10px;
}

.upload {
    padding: 15px;
}

@media (max-width: 970px) {
    .term-relations .element-container .panel-body {
        text-align: center;
    }
}
